.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.geometry-scene {
  stroke: white;
  fill: none; }
  .geometry-scene .point {
    fill: white;
    stroke: none; }
  .geometry-scene .free-point {
    fill: blue;
    stroke: none;
    cursor: pointer; }
  .geometry-scene .handle {
    fill: none;
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 20; }
  .geometry-scene .active {
    stroke-width: 2px;
    cursor: pointer; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
