.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.geometry-container {
  flex: 1;
  background-color: white;
  padding-left: 4px;
  position: relative;
  min-width: 30vw;
  max-width: 40vw;
  width: 30vw;
  min-height: 30vw;
  max-height: 40vw;
  height: 30vw;
}

.geometry-scene {
  position: absolute;
  left: 0;
  width: 30vw;
  height: 30vw;
  stroke: black;
  fill: none;
}

.geometry-scene .point {
  fill: black;
  stroke: none;
}

.geometry-scene .point-name {
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  fill: black !important;
  stroke: none;
}

.geometry-scene .free-point {
  fill: blue;
  stroke: none;
  cursor: pointer;
}

.geometry-scene .handle {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 20;
}

.geometry-scene .active {
  stroke-width: 2px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
